.search-input {
    display:block;
    width:400px;
    line-height:24px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #dfe1e5;
    border-radius:25px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    
}

.goog-img {
    display:block;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:25px;
    margin-top:150px;
}

.main {
     margin-top: 25px;
     text-align:center;

}

.btn {
    font-size:12px;
    margin-top:25px;
    margin-left:4px;
    margin-right:4px;
    background:#dfe1e5;
    border:none ;
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.btn-wrapper {
    display:flex;
    justify-content: center;
}